
FunctionApp1/Derived.cs
FunctionApp1/Base.cs
FunctionApp1/BaseBase.cs
FunctionApp1/CMain.cs
FunctionApp1/feedbro-rules.json
FunctionApp1/Function1.cs
FunctionApp1/Function1Base.cs
FunctionApp1/Function1Base1.cs
FunctionApp1/.gitattributes
FunctionApp1/.editorconfig
FunctionApp1/FunctionApp1.csproj
FunctionApp1/FunctionApp1.sln
FunctionApp1/FunctionApp1.slnLaunch
FunctionApp1/host.json
FunctionApp1/ke.cs
FunctionApp1/LICENSE.txt
FunctionApp1/README.md
FunctionApp1/TRootAttribute.cs
FunctionApp1/Uzel.cs
